a. far inserire all'utente due valori interi

In [ ]:
x = int(input("inserisci un valore intero: "))
y = int(input("inserisci un valore intero: "))

inserisci un valore intero: 1
inserisci un valore intero: 2

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
sum = x+y
dif = x-y
div = x/y
mol = x*y
print("La somma è: ", sum, " \n La differenza è: " , dif , " \n La divisione è: ", div, " \n La moltiplicazione è: ",mol)

La somma è:  3
 La differenza è:  -1
 La divisione è:  0.5
 La moltiplicazione è:  2

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
pot= x**y
print("La potenza è: ",pot)

La potenza è:  1

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
mod=x%y
print("Il modulo è: ",mod)

1

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
dm= divmod(x,y)
print(dm)

(0, 1)

g. incrementare di una unità entrambi i numeri

In [ ]:
x+=1
y+=1
print(x,y)

2 3

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
h = float(input("inserisci la tua algtezza in m: "))
m = float(input("inserisci il tuo peso in kg: "))
IMC = m/(h*h)
print("il tuo IMC è: ",IMC)

inserisci la tua algtezza in m: 1.70
inserisci il tuo peso in kg: 60
il tuo IMC è:  20.761245674740486

i. arrotondare l'IMC precedente

In [ ]:
print(round(IMC))

21

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [39]:
nome = "Walter"
surn = "Bono"
data = "26/01/2005"
cit = "Pavia"
print(nome,surn,data,cit,sep="-")

Walter-Bono-26/01/2005-Pavia

k. visualizzare le stesse informazioni per 10 volte di seguito

In [41]:
inf = "Walter-Bono-26/01/2005-Pavia\n"
print(inf*10)

Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia
Walter-Bono-26/01/2005-Pavia

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
nome = "Walter Bono"
print(nome.upper())

WALTER BONO

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
nome = "walter bono"
print(nome.title())

Walter Bono

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
nome= "Walter Bono"
print(len(nome))

11

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [27]:
nome= "Walter Bono"
print(nome.count("a")+nome.count("e")+nome.count("i")+nome.count("o")+nome.count("u"))

4

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [8]:
nome= "Walter Bono"
print(nome[:5])

Walte

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [13]:
nome= "Walter Bono"
print(nome[len(nome)-5:])

 Bono

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [38]:
nome= "Walter Bono"
cent= int(len(nome)//2)
print(cent)
print(nome[cent-2:cent+3])

5
ter B

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [25]:
nome= "Walter Bono"
print(nome.replace("a","X").replace("e","X").replace("i","X").replace("o","X").replace("u","X"))

WXltXr BXnX