Ver A

In [ ]:
base = float(input())
altezza = float(input())
profondita = float(input())
volume = base * altezza * profondita
print(round(volume,2))

In [ ]:
base = float(input())
if base <= 0:
  print('errore base')
else:
   altezza = float(input())
   if altezza <= 0:
     print('errore altezza')
   else:
     profondita = float(input())
     if profondita <= 0:
       print('errore profondita')
     else:
       volume = base * altezza * profondita
       print(round(volume,2))

1
2
4
8.0

In [ ]:
n = int(input())
quadratiperfetti = []
i = 1
while i**2 < n:
  quadratiperfetti.append(i**2)
  i+=1
print(quadratiperfetti)

230
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [5]:
lista = [x for x in range(int(input()),int(input())+1)]
print(lista)
lista.reverse()
print(lista)

2
13
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [6]:
tutti = [x for x in range(-30,30) if x % 2 == 0]
positivi = tutti[15:]
negativi = tutti[:15]
print(tutti,positivi,negativi)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28] [-30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [20]:
import random
n = [random.randrange(0,100,2) for i in range(100)]
n = list(map(lambda x: x**2,n))
print(n)

[6400, 576, 400, 9216, 324, 5776, 16, 4096, 36, 1600, 2500, 2116, 1444, 1156, 1764, 324, 900, 8100, 784, 8464, 36, 676, 3364, 2500, 5184, 64, 8100, 5776, 1024, 9216, 6400, 1444, 6084, 7056, 324, 5776, 5776, 5476, 64, 2304, 3844, 6084, 5184, 9604, 4096, 1156, 6400, 4356, 5776, 100, 3844, 2916, 900, 8836, 6724, 3844, 6400, 1156, 576, 8836, 1156, 2916, 9216, 9604, 1600, 144, 6400, 16, 7744, 3844, 256, 1764, 1024, 2704, 1156, 3600, 2500, 4624, 484, 1024, 576, 5476, 900, 196, 6724, 5776, 484, 1764, 2304, 5184, 4356, 8464, 7744, 1024, 2116, 676, 4356, 1936, 3600, 6400]

In [21]:
n = [random.randrange(0,100,2) for i in range(100)]
n = list(filter(lambda x: x % 6 != 0,n))
print(n)

[86, 20, 32, 92, 68, 38, 32, 4, 82, 4, 64, 22, 20, 14, 74, 98, 26, 22, 94, 26, 64, 74, 50, 4, 88, 56, 58, 76, 32, 64, 34, 68, 70, 10, 44, 74, 98, 32, 70, 62, 28, 98, 62, 40, 86, 56, 14, 74, 74, 76, 22, 22, 64, 94, 94, 2, 56, 76, 10, 74, 28, 44, 98]

In [24]:
TreniMR = {'9645':{'partenza':'16.00','arrivo':'19.10'},'9647':{'partenza':'16.30','arrivo':'19.40'}}
trenosrc = input()
if trenosrc not in TreniMR:
  print('treno non trovato')
else:
  print(TreniMR[trenosrc])

9645
16.00

Ver B

In [29]:
a,b,c = (int(input()),int(input()),int(input()))
delta = pow(b**2 -4*a*c,0.5)
x1 = (-b + delta)/2*a
x2 = (-b - delta)/2*a
print(x1,x2)

1
-7
10
5.0 2.0

In [ ]:
a,b,c = (int(input()),int(input()),int(input()))
if a = 0 or b = 0 or c = 0:
  print('cambia valori')
else:
  delta = pow(b**2 -4*a*c,0.5)
  x1 = (-b + delta)/2*a
  x2 = (-b - delta)/2*a
  print(x1,x2)

In [30]:
multipli = []
n = int(input())
i = 0 
while i*10 < n:
  multipli.append(i*10)
  i+=1
print(multipli)

190
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180]

In [31]:
even = [x for x in range(int(input())) if x%2 == 0]
print(even)
even.reverse()
print(even)

14
[0, 2, 4, 6, 8, 10, 12]
[12, 10, 8, 6, 4, 2, 0]

In [34]:
tutti = [x for x in range(90) if x%2!=0]
bassi = tutti[:22]
alti = tutti[23:]
print(tutti,bassi,alti)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43] [47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89]

In [39]:
def volumeCubo(m):
  return m ** 3
def pesoCubo(m,d):
  return volumeCubo(m) * d * 1000
print(pesoCubo(1,2.7)  , 'kg')

2700.0 kg

In [44]:
lista = [random.randrange(0,1000,2) for i in range(100)]
lista = [0 if x%6 == 0 else x for x in lista]
print(lista)

[176, 898, 668, 0, 704, 622, 964, 340, 208, 194, 406, 0, 520, 0, 376, 116, 0, 974, 572, 734, 554, 0, 0, 868, 298, 950, 98, 526, 16, 0, 212, 0, 160, 860, 788, 0, 428, 28, 628, 988, 560, 908, 596, 734, 0, 374, 632, 0, 964, 220, 0, 440, 970, 152, 0, 820, 680, 0, 0, 760, 286, 826, 922, 562, 0, 0, 0, 502, 952, 850, 680, 848, 134, 212, 730, 0, 712, 0, 200, 0, 944, 940, 0, 0, 52, 890, 652, 158, 0, 0, 596, 346, 382, 0, 908, 0, 0, 470, 986, 560]

In [45]:
lista = [random.randrange(0,1000,2) for i in range(100)]
n = int(input())
lista = list(filter(lambda x: x < n,lista))
print(lista)

18
[10]